.output{
  font-size: 28px;
  text-align: center;
}

.find-true{
  color: white;
  background-color: green;
}

.find-false{
  color: white;
  padding-top: 80%;
  padding-bottom: 80%;
  background-color: red;
}
